.container-cam {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-button {
  display: flex;
  justify-content: center;
}

.snapshot {
  text-align: center;
  z-index: 20;
  img {
    width: 1280px;
    height: 720px;
  }
}

button {
  cursor: pointer;
  font-size: 3em;
  background: none;
  border: none;
}

button:hover {
  scale: 1;
}

.timer {
  position: absolute;
}

.countdown-wrap,
.countdown-wrap * {
  font-size: 2em;
  font-family: impact, sans-serif;
  box-sizing: border-box;
}
.countdown-wrap,
.countdown-slides div {
  width: 300px;
  height: 250px;
}

.countdown-wrap {
  color: #fff;
  overflow: hidden;
}

.countdown-slides {
  position: relative;
  bottom: 0%;
  animation: countdown linear 3s;
  animation-fill-mode: forwards;
}

@keyframes countdown {
  0% {
    bottom: 0;
  }
  16% {
    bottom: 0;
  }
  20% {
    bottom: 100%;
  }
  36% {
    bottom: 100%;
  }
  40% {
    bottom: 200%;
  }
  56% {
    bottom: 200%;
  }
  60% {
    bottom: 300%;
  }
  76% {
    bottom: 300%;
  }
  80% {
    bottom: 400%;
  }
  96% {
    bottom: 400%;
  }
  100% {
    bottom: 500%;
  }
}

.flash {
  animation: flash linear 0.5s;
  animation-fill-mode: forwards;
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 20;
  animation: flash linear 0.2s;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
