<section *ngIf="showWebcam">
  <div class="container-cam">
    <div *ngIf="showTimer" style="position: absolute; font-size: 2em;">
      <div class="spinner"></div>
    </div>
    <div>
      <video [srcObject]="stream" #video width="640" height="480" autoplay style="display: none"></video>
      <canvas #canvas width="640" height="480"></canvas>
    </div>

    <webcam
      style="display: none"
      (imageCapture)="handleImage($event)"
      [imageQuality]="1"
      [allowCameraSwitch]="false"
      [trigger]="triggerObservable"
      [width]="640"
      [height]="480"
    ></webcam>
  </div>
  <div class="container-button">
    <button (click)="triggerSnapshot()">📷</button>
  </div>
</section>

<section *ngIf="!showWebcam">
  <div class="snapshot" *ngIf="webcamImage">
    <div>
      <h2>Nice shoot!</h2>
      <button (click)="toggleShowCamera()">🔄</button>
    </div>
    <img [src]="webcamImage.imageAsDataUrl" />
    <div class="container-button">
      <qr-code [value]="'url'" [size]="200"></qr-code>
    </div>
  </div>
</section>
