.container-cam {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.container-button {
  display: flex;
  justify-content: center;

}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

button {
  cursor: pointer;
  font-size: 3em;
  background: none;
  border: none;
}

button:hover{
  scale: 1.5;
}
